#main-box {
    width: 1000px;
    margin: 0 auto;
}

.box {
    width: 90px;
    height: 90px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: #fff;
}

.buzz {
    background-color: green;
}

.fizz {
    background-color: coral;
}

.fizzBuzz {
    background-color: red;
}